* {
    background-color: #F5F7F6;
    color: #2F3E34;
}

.headings {
    color: #5A9E5A;
    text-shadow: 2px 2px 5px grey;
}

footer table {
    background-color: #fff;
}

fieldset legend b {
    color: #7FB77E;
}

fieldset {
    background-color: #EAF5EA;
}

fieldset p {
    background-color: #EAF5EA;
}

fieldset p b {
    background-color: #EAF5EA;
}

button {
    background-color: #7FB77E;
    height: 25px;
    width: 90px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0 rgb(165, 164, 164);
}
button a{
    background-color: #7FB77E;
    color: white;
}