* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 23px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 99;

}

.logo,
.headerSearch,
.navIcons,
.navLinks {
    display: flex;
    align-items: center;
}

.logo {
    gap: 10px;
    color: gray;
}

.headerSearch {
    background-color: #F8F8F8;
    padding: 10px 15px;
    display: flex;
    gap: 30px;
    margin-left: 25px;
    border-radius: 15px;

    select,
    input {
        font-size: 16px;
        color: rgb(102, 98, 98);
        background-color: #F8F8F8;
        border: none;
        padding: 5px 8px;
        border-radius: 7px;
    }

    select {
        width: 125px;

        option {
            width: 300px;
        }
    }

    input {
        width: 230px;
        margin-left: 15px;
    }

    selectinput:active {
        border: none;
    }

    input:active {
        border: none;
    }

    select:focus {
        outline: 4px solid #BDD6F9;
    }

    input:focus {
        outline: 4px solid #BDD6F9;
    }

    svg {
        color: gray;
    }
}

.navLinks {
    gap: 30px;
    margin-left: 8%;
    margin-right: 17%;

    select {
        font-size: 16px;
        font-weight: 700;
        width: 80px;
        border: none;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 700;
    }
}

.navIcons {
    gap: 30px;
    padding-right: 18px;

    svg {
        height: 20px;
        width: 20px;
    }
}

.herosection {
    position: relative;

    img {
        height: 100vh;
        width: 99vw;
    }

    .heading {
        position: absolute;
        top: 14%;
        left: 24px;
        font-size: 80px;

        .main {
            letter-spacing: -3.1px;

            span {
                font-weight: 600;
            }

            .p {
                line-height: 1.24;
            }

            .organic {
                color: #6BB252;
            }
        }


        .description {
            padding-top: 15.1px;

            p {
                font-size: 25px;
                color: #747474;
            }
        }

        button {
            padding: 16px 24px;
            margin: 16px 0 0;
            border: none;
            border-radius: 30px;
            color: white;
            font-size: 17.5px;
        }


        .shopping {
            background-color: #6BB252;
        }

        .shopping:hover {
            background-color: #eb9927;
        }


        .join {
            background-color: #212529;
        }

        .join:hover {
            background-color: #504e4e;
        }

        .reviewDiv {
            position: absolute;
            padding-top: 50px;
            display: flex;
            gap: 35px;

            .review {
                display: flex;
                gap: 30px;

                h5 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

.button:hover {
    background-color: #eb9927;
}

.service-div {
    position: absolute;
    display: flex;
    margin: 0;
    bottom: 4px;
    margin: 0 20px;


    .service {
        display: flex;
        align-items: center;
        padding: 20px 40px;
        word-spacing: 5px;
        letter-spacing: 1px;
        line-height: 28px;
        color: white;
    }

    svg {
        height: 60px;
        width: 60px;
    }

    .s1 {
        background-color: #6BB252;
    }

    .s2 {
        background-color: #364127;
    }

    .s3 {
        background-color: #F95F09;
    }
}

.subheader {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    margin-bottom: 48px;
}

.main-category {
    display: grid;
    margin: 0 30px;
    padding: 48px 0;
}

.main-button {
    display: flex;
    justify-content: center;
    gap: 10px;

    .swiper-div {
        button {
            padding: 10px 15px;
            border: none;
            border-radius: 10px;
        }
    }
}

.view-all {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #6BB252;

    a {
        text-decoration: none;
        color: white;
    }
}

.variety {
    display: flex;
    overflow-x: scroll;
}

.img-div {
    display: grid;
    gap: 10px;
    justify-items: center;

    img {
        border-radius: 50%;
        margin: 0 15px;
    }
}

.sell {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px 50px;

    h2 {
        font-size: 30px;
    }
}

.sellMain {
    display: flex;
    margin: 0 30px;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    display: grid;
    justify-items: center;
    gap: 15px;
    padding: 10px 15px;
}

.product:hover {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(240, 235, 235);

    .addCart {
        opacity: 1;
    }
}

.price {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;

    span {
        text-decoration: line-through;
        color: #747474;
    }

    p {
        border: 1px solid #5c5a5a;
        color: #747474;
        padding: 2px 3px;
        font-size: 12.8px;
    }
}

.rating {
    i {
        color: #FFC107;
    }

}

.addCart {
    display: flex;
    gap: 15px;
    opacity: 0;

    input {
        width: 35px;
        border: 1px solid gray;
        color: gray;
        border-radius: 5px;
        padding: 8px 0;
        padding-left: 8px;
    }

    button {
        color: white;
        margin: 0 8px;
    }

    .heart {
        border: 1px solid #000000;
        padding: 8px 8px;
        border-radius: 5px;
    }
}

.offers {
    margin: 20px 30px;
    position: relative;
}

.banner1 img {
    height: 450px;
}

.banner1 .inner1 {
    position: absolute;
    top: 150px;
    left: 40px;
    color: white;
}

.banner1 .inner1 p, .shop {
    padding: 15px 0;
}
.shop {
    padding-top: 10px;
    font-size: 14px;
}

.shop hr {
    width: 75px;
    height: 2px;
    background-color: rgb(141, 136, 136);
    border: none;
    position: relative;
}

/* animated line */
.shop hr::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    transition: width 0.5s ease;
}

/* hover effect */
.shop:hover hr::after {
    width: 100%;
}